data/CATANIST
data/CATANIST V1
data/CATANIST V2
HexaLearn/ground_imgs
data/HEXIST V1
condensed
images/eval numbers
images/eval hexes
images/eval hexes
__pycache__/get_board_layout.cpython-311.pyc
__pycache__/predict_board.cpython-311.pyc
__pycache__/resnet.cpython-311.pyc
__pycache__/top_placements.cpython-311.pyc
static/uploads/